@import url('https://use.typekit.net/wms0ajo.css');

@tailwind base;

@font-face {
  font-family: 'roca';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
}

html { scroll-behavior: smooth; }
